.avatarSizeSmall {
    max-width:5em;
    max-height:5em;
    min-width:5em;
    min-height:5em;
}
.avatarMarginTop{
    margin-top:5px;
    margin-left:5px;
}
.avatarNoRightMargin{
    margin-right:0;
}
.overlay{
    position: absolute; /* Cover parent element */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(111, 13, 13);
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}