@inherits LayoutComponentBase
@using Pathmaker.Shared.CharacterContainer
<Head></Head>

<CharacterPageTitle/>
<div style="padding-bottom: 5em"></div>
@foreach (var c in CharacterController.Characters)
{

        <CharacterContainer Character="@c"/>
    }

@code
{
    protected override Task OnInitializedAsync()
    {
        CharacterController.Refresh += OnUpdate;
        return Task.CompletedTask;
    }

    async void OnUpdate() => await InvokeAsync(StateHasChanged);

}