name: Publish

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v2
      with:
        dotnet-version: 6.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet publish
    - name: Install SSH Key
      uses: shimataro/ssh-key-action@v2
      with:
        key: ${{ secrets.SSHKEY }} 
        known_hosts: 'just-a-placeholder-so-we-dont-get-errors'
    - name: Adding Known Hosts
      run: ssh-keyscan -H ${{ secrets.SSH_HOST }} >> ~/.ssh/known_hosts
    - name: Copy via SSH
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        port: 22
        password: ${{ secrets.SSHPASS }}
        source: "bin/Debug/net6.0/publish/wwwroot/*"
        target: "/home/stathisthemagic/githubdeploy/tmp"
    - name: Clean previous
      run: rm -R /home/stathisthemagic/public_html/pathmaker/* 2>/dev/null
    - name: Deploy new
      run: mv /home/stathisthemagic/githubdeploy/tmp/bin/Debug/net6.0/publish/wwwroot/* /home/stathisthemagic/public_html/pathmaker
    - name: Clear temporary files
      run: rm -R /home/stathisthemagic/githubdeploy/tmp/*
